@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    src: url("/minecraft.ttf");
    font-family: mine;
}
*{
    font-family: mine;
    

}
.bgofbody{
    background: linear-gradient(145deg, rgb(255, 42, 42), rgb(126, 126, 255));
}
